<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spendsmart">

    <application
        android:name="com.example.spendsmart.FirebaseHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name="com.example.spendsmart.ui.splash_screen.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.spendsmart.ui.signin.SignInActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.example.spendsmart.ui.main.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.example.spendsmart.ui.add_entry.AddWalletEntryActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spendsmart.ui.main.MainActivity" />
        </activity>
        <activity android:name="com.example.spendsmart.ui.options.OptionsActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spendsmart.ui.main.MainActivity" />
        </activity>
        <activity android:name="com.example.spendsmart.ui.main.history.edit_entry.EditWalletEntryActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spendsmart.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="com.example.spendsmart.ui.options.categories.CustomCategoriesActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.example.spendsmart.ui.options.categories.AddCustomCategoryActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.example.spendsmart.ui.options.categories.EditCustomCategoryActivity"
            android:configChanges="orientation|screenSize"
            tools:ignore="Instantiatable" />
    </application>

</manifest>